doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Live Chat
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascripts/htmx.min.js")

  body
    h1 Chat Room

    .chat-container#chat-container(
      hx-get="/messages/chats"
      hx-trigger="every 2s"
      hx-target="#chat-container"
      hx-swap="innerHTML"
    )
      p Loading chats...

      //- hx-post="http://localhost:3000/messages"
    form#chat-form(
      hx-post="https://4ks6kj3h-3000.asse.devtunnels.ms/messages"
      hx-swap="none"
      hx-trigger="submit"
    )
      input(type="text" name="message" placeholder="Type a message..." required)
      button(type="submit") Send